

*{
    padding: 0;
    margin: 0;
   }     

.manii5{
    display: flex;
    text-align: center;
   justify-content: center;
   /* background-image: url(v1.png); */
  

}

.uuuu img{
    height: 35vh;
    width: 100%;
}

.uuuu h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(15, 14, 14, 0.767);
    position: absolute;
z-index: 1;
right: 30%;
top: 25%;
}

#man{
    width: 280px;
    
    
    padding: 20%;
    height: 450px;
    text-align: center;
    transition: 1s;
   
}
#man:hover{
    
    filter: drop-shadow(10px 10px 20px black);
transform: rotateY(180deg);



} 