/* .be h1{
   
    
    text-align: center;
    
    background-image: url(./win.png);
    
    height: 35vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 59px;
    font-size: 80px;
    filter: blur(0.7px);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 10px;
    box-shadow: 10px 15px 5px lightgray;
     background-attachment: fixed;
    background-size: 100% 100%; 
   margin-top: 3px;
} 
 */


.be img{
    height: 35vh;
    width: 100%;
    /* position: absolute; */
    filter: blur(1px);
}

.be h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(211, 211, 211, 0.849);
    right: 45%;
    position: absolute;
    top: 25%;

}
*{
    padding: 0;
    margin: 0;
}
#e{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-top: -200px; 
    font-size: 70px; 
   font-family: 'Broadway Shadow';
   
}

  
.bgall{
    text-align: center;
    display: flex;
   padding: 30px 20px 30px 20px;
    gap: 30px;
}
@import url('https://fonts.cdnfonts.com/css/broadway');


#work {
    height:60%;
    width:90%;
    padding: 1%;
    /* display: block; */
    transition: .4s;
    /* overflow: hidden; */
} 
#work:hover {
    scale: 1.1;
}
.bgall p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
#H{
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
.bgall h3{
    color: rgb(54, 5, 5);
    font-family: Times, serif;
    font-weight: bold;
    padding-top: 10px;

}
#wor{
    height: 220px;
    width: 220px;
    transition: .3s;
}
#wor:hover{
transform: rotate(180deg);
    }
.allwood{
    text-align: center;
    display: flex;
    gap:40px ;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    background-image: url(./woodbg.png);
}
.allwood h4{
    text-align: center;
    font-weight: bold; 
    color: brown;
    margin-top: 30px;
}

.allwood p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
}

.cx{
    text-align: center;
    margin-top: 30px;
}

.cx h1{
    color: brown;
    font-weight: bold;
    
}
.cx h3{
    font-weight: bold;
}
.cx p{
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 25px;
    margin-left: 25px;
}
#zz{
    height: 290px;
    width: 400px;
    padding: 5%;
}.asd{
    display: flex;
    padding: 20px 30px 20px 30px;
    gap: 30px;
    justify-content: center;
    text-align: center;
}
.asd h3{
    font-weight: bold;
    font-size: 20px;
    
}.azx{
    background-image: url(./woodbg.png);
    padding-top: 30px;
}
#sp{
    height: 80px;
    width: 110px;
}.allsp{
    display: flex;
    /* padding: 20px 30px 20px 30px; */
    gap: 80px;
    padding-bottom: 80px;
    justify-content: center;
   
    
}
.allspp{
    background-image: url(./woodbg.png);
}
#qa{
    text-align: center;
    /* margin-top: 30px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    /* margin-top: 50px;  */
    /* margin-bottom: 50px; */
    padding: 40px;
}

.free img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.allfree{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.free p{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    color: rgb(2, 2, 2);
}
.alllfree h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    padding-bottom: 50px;
}
.free{
    margin-top: 10px;
    margin-bottom: 50px;
   
}

.alllfree {
   background-image: url(new9.png);
   background-attachment: fixed;
   /* background-repeat:non; */
   /* background-position: center; */
   /* object-fit: cover; */
}