.mm img{
    padding-top:5px;
    height: 500px;
    
    width: 100%;
    box-shadow: 1px 2px 3px rgb(150, 130, 130);


    
}


.door{
    width: 200px;
    /* padding: 14%; */
    height: 350px;
    margin-bottom: 30px;
    transition: 2s;
    cursor: pointer;}
   
 

.demo{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    gap: 80px;
    
}
#btn{
    height: 40px;
    width: 180px;
    color: white;
    background-color: rgb(66, 16, 16);
    border: none;
    margin-top: -20px;
    font-weight: bold;
    
}
#btn:hover{
    color: rgb(10, 10, 10);
    background-color: rgb(0, 255, 85);
}


#btt{
    height: 40px;
    width: 170px;
    color: white;
    background-color: rgb(66, 16, 16);
    border: none;
    margin-top: -20px;
    font-weight: bold;
    font-size: 15px;
  
}
#btt:hover{
    color: rgb(10, 10, 10);
    background-color: rgb(0, 255, 85);
}
.demo p{
    text-align: center;
    font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, ;
}
#b{
    color: rgb(66, 16, 16);
    
    font-weight: bolder;
    font-family: "Kaushan Script", cursive;
    font-size: large;
    font-size: 20px;
}



.door:hover{
    
   filter: drop-shadow(10px 10px 20px black);
   
   /* transform: matrix(0,1,1,0,0,1); */
   
   transform: rotate(36deg);

}
.hh h2{
    text-align: center;
    color: green;
    font-size: 40px;
    /* padding: 30px 30px ; */
    cursor: pointer;
    font-family: "Kaushan Script", cursive;
    padding-top: -40px;
    
    
    /* background-color: aqua */
    
    

}
/* .hh{
  position: sticky;
    top: 0;
    z-index: 3;
} */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif+TC:wght@200..900&family=Prata&display=swap');
.hh h2:hover{
    color: rgb(105, 71, 26);
}
.imm {
    height: 450px;
    
    width: 100%;
    /* margin-top:30px ;
    margin-left: 25px;
     */

}


.im{
    background-color: gainsboro;
}
.top p{
    text-align: center;
}
.all{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.top img{
    height: 350px;
    width: 100%;
    padding-top: 60px;
    transition: .9s;
    
    

}
.top img:hover{
    transform: scale(0.9); 
    filter: drop-shadow(10px 10px 20px black);

}
.all h3{
    text-align: center;
}

.all p{
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(53, 41, 26);
}
 img{
   
    height: 600px;
}
.immm img{
    height: 560px;
    width: 100%;
    padding-top: 30px;
}
footer{
    
    background-image: url(./backkkkk.png);
    height: 58vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}
.oooo{
    display: flex;
    justify-content: start;
    gap: 100px;
    padding: 30px;
}
.amma p{
    text-align: center;
}
.amma{
    padding-right: -70px;
}
.ad img{
    height: 30px;
  width: 30px;
}
.ad p{
    text-align: center;
   
}
#ou{
    text-align: center;
}
.la p{
    text-align: center;
}

#lo{
    height: 30px;
  width: 30px;

}

.menu{
    text-align: start;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: black;
}
.mnm p{
    
    font-weight: bold;
 font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}
.menu a{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
.copy{
    /* text-align: center; */
    font-size: 10px;
  padding-left: 230px;
}
#a2{
    color: black;
    text-decoration: none;
  font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
   
  
   
  }
  .etho img{
    height: 300px;
    /* width: 200px; */
    text-align: center;

  }
  .ethoo h1{
    text-align: center;
    padding:  40px;
    margin-top: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .ethoo p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
  }
  .etho a button{
    margin-top: 50px;
  
  }

  .etho{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
  }
  .ethoo{
    background-color: rgba(211, 211, 211, 0.315);
    margin-right: 50px;
    margin-left: 50px;
  }







  #a2:hover{
  color:  rgb(55, 54, 156);
 
   
  }
  #a3{
    color: black;
    text-decoration: none;
    font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  
   
  }
  #a3:hover{
  color:  rgb(21, 126, 0);
   
  }
  #a4{
    color: black;
    text-decoration: none;
    font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  
   
  }
  #a4:hover{
  color:  rgb(22, 172, 159);
   
  }
  #a5{
    color: black;
    text-decoration: none;
    font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  
   
  }
  #a5:hover{
  color:  rgb(211, 5, 56);
   
  }
  #a6{
    color: black;
    text-decoration: none;
    font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
  }
  #a6:hover{
  color:  rgb(121, 0, 250);
   
  }
  #a7{
    color: black;
    text-decoration: none;
    font-weight: bold;
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
   
  }
  #a7:hover{
  color:  rgb(252, 2, 2);
   
  }
  
  #a111{
    color: black;
    text-decoration: none;
  /* font-weight: 100;
  font-weight: bold; */
 
    font-family: Georgia, 'Times New Roman', Times, serif;
  border:none;
  margin-left: -12px;
  /* font-weight: bold; */
   
  
   
  }
  #a111:hover{
  color:  rgb(248, 141, 0);
  border: none;
  position: relative;
   
  }
  .d-block {
    height: 90%;
  }
  .mm img{
    height: 600px;
  }

  #var{
    height: 110px;
    width: 110px;
    transform: rotate(45deg);
    padding: 5%;
    transition: .4s;
    cursor: pointer;
   
  }
  #var:hover{
    transform: rotate(0deg);
    border: 2px solid rgb(78, 35, 35);
   
    
  }
  .wood{
    display: flex;
   padding-top: 40px;
   padding-bottom: 40px;
  
    text-align: center;
    margin-left: 30px;
    gap: 90px;
    justify-content: center;
  }

  .woodd h2{
    text-align: center;
    padding-top: 30px;
    color: rgb(66, 17, 17);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
  }
  .wood p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
margin-top: 30px;
cursor: pointer;
color: rgb(0, 0, 0);
  }

  .wood p:hover{
    color: rgb(66, 17, 17);
  }

  .woooo{
    /* background-image: url(new9.png); */
    /* background-color: rgba(211, 211, 211, 0.61); */
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
  background-attachment: fixed;
  background-size: 110% 110%;
    
    
  }
  
  .wrapper{
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-evenly;
   
    /* gap: 80px; */
    cursor: pointer;
    /* margin-bottom:-150px; */
    margin-top: 40px;

  }

  .image{
    position: relative;
  }
  
  .content{
    width: 100%;
    height:92%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.9s;
    background-color: rgba(0,0,0,0.6);
    
  }
  .content:hover{
    opacity: 9;
  }
  

  .content > *{
    transform: translatey(25px);
    transition:0.5s;
  }
  .content:hover > *{
    transform: translatey(0px);
    
  }

  .content h2{
    color: rgb(245, 241, 7);
    font-family: "Kaushan Script", cursive;
    text-align: center;
  }

  .content p{
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
    color: rgb(255, 255, 255);
    
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Noto+Serif+TC:wght@200..900&family=Prata&display=swap');

  #new{
    color: rgb(219, 51, 51);
    background-color: transparent;
    border: 2px solid white;
    font-weight: bold;
    
    text-align: center;
   
    
  }

  #new:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(219, 51, 51);
  
  }

  .animation {
    
    position: relative;
    animation: moving 5s cubic-bezier(0.2,0.75,0.7,0.25) infinite;
    z-index: 0;
    scroll-margin-block-end: 40px;
    
  }
  .animation img{
    height: 500px;
    width: 300px;
  }

  
  
  @keyframes moving{

    from{
      left:  0%;

    }
    to{
      left: 100%;
    }
  }

  .emty{
    background-color: rgba(255, 0, 0, 0.753);
    height: 100px;
    width: 100%;
    display: flex;
  gap: 400px;
   
  }
  .em h4{
    color: white;
    /* font-weight: bold; */
    margin-bottom: -40px;
  }
  .em{
    padding-top: 30px;
    margin-left: 30px;
  }
  #get{
    height: 50px;
    width: 300px;
   margin-top: 30px;
   margin-right: 30px;
   color: white;
   font-weight: bold;
   background: transparent;
   border:  2px solid white;

    
  }
  #get:hover{
    color: rgba(255, 0, 0, 0.774);
    background-color: white;
  }
  .em a{
    text-decoration: none;
  }
  body{
    overflow-x: hidden;
    /* background-color: aqua; */
    
  }

  #h1{
    width: 85%;
    height: 50%;
    
   
    
  }
  #slibtn{
    margin-bottom: 60px;
    margin-left: 450px;
    height: 45px;
    width: 200px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.575);
    border: none;
  }

  #slibtn:hover{
   background: rgba(51, 50, 50, 0.301);
   color: white;
  }

  
  .varanty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    gap: 50px;
    text-align: center;
  }
  .hh{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  }
  .varanty p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .cat img{
    height: 600px;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.cat a{
  text-decoration: none;
  position: absolute;
  z-index: 2;
  text-align: center;
  margin-left: 950px;
  margin-top: 400px;
  
}
.etho a button{
  width: 200px;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 16, 16, 0.781);
  border: none;
  /* border-radius: 3px; */
  animation: shakee 0.3s linear infinite;
    transform-origin: bottom center;  
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

@keyframes shakee{

  0%{
    transform: rotate(-5dey)
  }
  50%{
    transform: rotate(1deg);
  }
}

.etho a button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(71, 35, 5);
}
.pu{
  height: 600px;
    width: 100%;

}
@import url('https://fonts.cdnfonts.com/css/futura-lt');

.summa{
  height: 1px;
  width: 60%;
  background-color: black;
  margin-left: 160px;
 
 

}
.yes  {
  
  margin-bottom: 85px;
  margin-left: 220px;
}
.yes h2{
 
font-size: 45px;
text-align: center;
font-family: "Baskervville SC", serif;
font-weight: bold;
font-style: normal;

}
.yes p{
  text-align: center;
}

#m1{
  color: rgba(255, 68, 0, 0.74);
 

}

#m2{
  color: rgb(48, 47, 47);
  

 
}

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaushan+Script&family=Noto+Serif+TC:wght@200..900&family=Prata&display=swap');

@import url('https://fonts.cdnfonts.com/css/futura-lt');