nav{
  width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 10px 30px; */
    background-color: rgb(255, 255, 255);
    
    background-position: center;
    background-size: cover;
   opacity: 0.1px;
  
    box-shadow: 1px 2px 3px lightgrey;
  
    /* justify-content: flex-start; */
  }
 
  .navbare{
    display: flex;
    border-color: black;
    
    
  }
  .add{
    margin-left: 5% ;
    display: flex;
  }
  *{
    margin: 0;
    padding: 0;
  }
  nav img{
  
    width: 150px;
    height: 100px;
    
    /* row-gap: 200px; */
    margin-left: 20px;
   
    
  }
  #a1{
    color: rgb(48, 32, 3);
    text-decoration: none;
  /* font-weight: 500; 
  font-weight: bold; */
   border:none; 
 font-family: Georgia, 'Times New Roman', Times, serif;
 
   
  
   
  }
  #a1:hover{
  color:  rgb(248, 141, 0);
  border: none;
  position: relative;
  /* text-decoration: solid underline gold 2px; */
   
  }
  #a11{
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
 font-family: Georgia, 'Times New Roman', Times, serif;
  border:none;
  
   
  
   
  }
  #a11:hover{
  color:  rgb(248, 141, 0);
  border: none;
  position: relative;
   background-color: transparent;
   
  }
  #a{
    
    text-decoration: none;
  /* font-weight: bold; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  border:none;
  margin-top: -6px;
  
   
  
   
  }
  #a:hover{
  color:  rgb(248, 141, 0);
  border: none;
  position: relative;
   
  }
  
  ul{
    list-style: none;
  }
  nav ul{
    display: flex;
    gap: 70px;
    list-style: none;
   
  }
  
   .add  a img {
    height: 30px;
    width: 30px;
    /* padding: 10px; */
   }
   .aaa{
    margin-left: 80px;
   }
   
   .but button{
    color: black;
    background-color: navajowhite;
    width: 800px;
    
   }
  
   ul li button{
    text-decoration: none;
   }
  
   .search-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }


  #sociall{
    height: 80px;
    width: 80px;
    float :right;
    margin-left:-300px;
    margin-right: 20px;
   
    margin-top: 400px;
    filter: drop-shadow(15px 10px 15px green);
    animation: shake 0.9s linear infinite;
    transform-origin: bottom center;    
  }
@keyframes shake{
  0%{
    transform: rotate(-15deg);
  }
  50%{
    transform: rotate(15deg);
  }
}

  .idia{
    position: sticky;
    top: 0;
    z-index: 3;
  }

  :root{
    --bg-color:white;
    --text-color:black;
  }
  [data-theme="dark"]{
    --bg-color:white;
    --text-color:black;

  }
.add a{
  /* text-decoration: none; */
  gap: 50px;
  padding: 10px;
  color: black;
}
