.allsing{
justify-content: center;
text-align: center;
}
.sing input{
    height: 50px;
    width: 500px;
}
.sing button{
    height: 50px;
    width: 500px;
    font-weight: bolder;
    border: none;
    color: white;
    background-color: rgb(255, 23, 23);
}
.sing ::placeholder{
    font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: bold;
   padding: 20px;
}
.sing h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-weight: bold; */
    /* padding-top: 30px; */
}
.sing p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#al{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:#103a3a ;
    float: left;
    margin-left: 40px;
}
.allsing{
    display: flex;
    text-align: center;
    justify-content: center; 
    
    
}
.sing{

    
margin-right: 29%;
margin-left: 29%;
margin-top: 1%;


 padding-top: 50px;
 background-color: rgb(255, 255, 255);
 box-shadow: 4px 1px 20px 4px rgb(245, 245, 245);
 
}
#ata{
    float: right;
    margin-right: 50px;
    
    color: #103a3a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
#ata:hover{
    color: brown;
}
